<header ng-switch on="$location.path().indexOf('/Vendas/new') > -1">
    <h3 ng-switch-when="true">Create a new Venda</h3>
    <h3 ng-switch-when="false">View or edit Venda</h3>
</header>
<form id="VendaForm" name="VendaForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': VendaForm.cliente.$invalid}">
        <label for="cliente" class="col-sm-2 control-label">Cliente</label>
        <div id="clienteControls" class="col-sm-10">
        <select id="cliente" name="cliente" class="form-control" ng-model="clienteSelection" ng-options="c.text for c in clienteSelectionList" required >
            <option value="">Choose a Cliente</option>
        </select>
        <span class="help-block error" ng-show="VendaForm.cliente.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.data.$invalid}">
        <label for="data" class="col-sm-2 control-label">Data</label>
        <div id="dataControls" class="col-sm-10">
            <input id="data" name="data" type="text" class="form-control" ng-model="venda.data" placeholder="Enter the Venda Data"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.formaPagamento.$invalid}">
        <label for="formaPagamento" class="col-sm-2 control-label">Forma Pagamento</label>
        <div id="formaPagamentoControls" class="col-sm-10">
        <select id="formaPagamento" name="formaPagamento" class="form-control" ng-model="formaPagamentoSelection" ng-options="f.text for f in formaPagamentoSelectionList" required >
            <option value="">Choose a Forma Pagamento</option>
        </select>
        <span class="help-block error" ng-show="VendaForm.formaPagamento.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.valorTotal.$invalid}">
        <label for="valorTotal" class="col-sm-2 control-label">Valor Total</label>
        <div id="valorTotalControls" class="col-sm-10">
            <input id="valorTotal" name="valorTotal" type="number" class="form-control" ng-model="venda.valorTotal" placeholder="Enter the Venda Valor Total"></input>
            <span class="help-block error" ng-show="VendaForm.valorTotal.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.valorPago.$invalid}">
        <label for="valorPago" class="col-sm-2 control-label">Valor Pago</label>
        <div id="valorPagoControls" class="col-sm-10">
            <input id="valorPago" name="valorPago" type="number" class="form-control" ng-model="venda.valorPago" placeholder="Enter the Venda Valor Pago"></input>
            <span class="help-block error" ng-show="VendaForm.valorPago.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': VendaForm.produtos.$invalid}">
        <label for="produtos" class="col-sm-2 control-label">Produtos</label>
        <div id="produtosControls" class="col-sm-10">
            <select id="produtos" name="produtos" multiple class="form-control" ng-model="produtosSelection" ng-options="p.text for p in produtosSelectionList">
                <option value="">Choose a Produtos</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveVenda" name="saveVenda" class="btn btn-primary" ng-disabled="isClean() || VendaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteVenda" name="deleteVenda" class="btn btn-danger" ng-show="venda.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>